version: "3.8"

services:
  app:
    build: .
    container_name: error-kit-demo
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - .:/app
    command: npm run dev

  mongo:
    image: mongo:7
    container_name: error-kit-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: Erangamadhushan
      MONGO_INITDB_ROOT_PASSWORD: hehe1234
      MONGO_INITDB_DATABASE: demoapplication
